/* CSS Reset */

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  padding: 1rem 0.5rem;
  font-size: 2rem;
}

hr {
  margin: 2rem;
}

a {
  text-decoration: none;
}

/* Navbar */

#navbar {
  width: 50%;
  margin: 1.5rem auto;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background: linear-gradient(45deg, #40f790, #0a3431 70%);
  color: #fff;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Profile Setion */

.container {
  width: 70%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 20px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.glass {
  background: rgba(0, 0, 0, 0.05) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#user-profile {
  width: 35%;
  height: 30rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
}

#card-top {
  height: 9rem;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #249856;
  z-index: -1;
  border-radius: 20px 20px 0 0;
}

#profile-img {
  width: 11rem;
  margin: 0.5rem auto;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}

#role {
  background-color: rgb(0, 210, 190);
  width: fit-content;
  border-radius: 10px;
  margin: 0.75rem auto;
  padding: 0.5rem;
}

.item {
  padding: 0.3rem 0;
  display: block;
}

i {
  margin-right: 0.5rem;
}

.btn {
  margin: 1rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: #00693e;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#user-skills {
  width: 45%;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 10.5rem;
  right: 2.5rem;
}

.skill {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skill a {
  margin: 0.5rem;
  text-decoration: underline;
  color: #000;
}

.badge {
  list-style: none;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #cbcbcb;
  color: #000;
  border-radius: 20px;
}

#client-img {
  height: 3rem;
  display: inline;
  margin-right: 1rem;
}

.r-head {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;
}

.review-info {
  display: inline-flex;
  flex-direction: column;
}

.rating {
  margin-right: 0.5rem;
}

/* Media Query */

@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  #user-profile {
    width: 100%;
    margin-bottom: 2rem;
  }

  #user-skills {
    width: 100%;
    position: static;
  }
  .circle {
    display: none;
  }
  .rating {
    display: block;
  }
  .badge {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}

/* Background */

#background {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: -2;
}

.circle {
  width: 8rem;
  height: 8rem;
  background: radial-gradient(#d0f0c08b, #f0fff0);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: 10rem;
  right: 16rem;
}

.circle:nth-child(2) {
  top: 18rem;
  left: 32rem;
}

.circle:nth-child(3) {
  bottom: 11rem;
  left: 8rem;
}

.circle:nth-child(4) {
  bottom: 11rem;
  right: 8rem;
  animation-name: move-down1;
}

.circle:nth-child(5) {
  bottom: 0.5rem;
  right: 38rem;
  animation-name: move-down1;
}

.circle:nth-child(6) {
  top: 5rem;
  left: 14rem;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-15px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(15px);
  }
}
